<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row class="ion-align-items-center" class="ion-justify-content-evenly">
      <ion-col size="4">Row 1 Col 1</ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <h1>Row 1 Col 2</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- <ion-col>Row 1 Col 3</ion-col>
      <ion-col>Row 1 Col 4</ion-col>
      <ion-col>Row 1 Col 5</ion-col>
      <ion-col>Row 1 Col 6</ion-col>
      <ion-col>Row 1 Col 7</ion-col>
      <ion-col>Row 1 Col 8</ion-col>
      <ion-col>Row 1 Col 9</ion-col>
      <ion-col>Row 1 Col 10</ion-col>
      <ion-col>Row 1 Col 11</ion-col>
      <ion-col>Row 1 Col 12</ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
